/*
--header-primary: #fff;
--header-secondary: #b9bbbe;
--text-normal: #dcddde;
--text-muted: #72767d;
--text-link: #00b0f4;
--channels-default: #8e9297;
--interactive-normal: #b9bbbe;
--interactive-hover: #dcddde;
--interactive-active: #fff;
--interactive-muted: #4f545c;
--background-primary: #36393f;
--background-secondary: #2f3136;
--background-secondary-alt: #292b2f;
--background-tertiary: #202225;
--background-accent: #4f545c;
--background-floating: #18191c;
--background-mobile-primary: #36393f;
--background-mobile-secondary: #2f3136;
--background-modifier-hover: rgba(79,84,92,0.16);
--background-modifier-active: rgba(79,84,92,0.24);
--background-modifier-selected: rgba(79,84,92,0.32);
--background-modifier-accent: hsla(0,0%,100%,0.06);
--background-mentioned: rgba(250,166,26,0.05);
--background-mentioned-hover: rgba(250,166,26,0.08);
--background-message-hover: rgba(4,4,5,0.07);
--elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
--elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
--elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
--elevation-high: 0 8px 16px rgba(0,0,0,0.24);
--logo-primary: #fff;
--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
--channeltextarea-background: #40444b;
--activity-card-background: #202225;
--textbox-markdown-syntax: #8e9297;
--deprecated-card-bg: rgba(32,34,37,0.6);
--deprecated-card-editable-bg: rgba(32,34,37,0.3);
--deprecated-store-bg: #36393f;
--deprecated-quickswitcher-input-background: #72767d;
--deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
--deprecated-text-input-bg: rgba(0,0,0,0.1);
--deprecated-text-input-border: rgba(0,0,0,0.3);
--deprecated-text-input-border-hover: #040405;
--deprecated-text-input-border-disabled: #202225;
--deprecated-text-input-prefix: #dcddde;
*/

.root {
    -fx-background-color: #36393f;
}

/*************************************/
/**** VIEWS **************************/
/*************************************/

.mou-connect, .mou-host {
    -fx-fill-width: true;
    -fx-alignment: center;
    -fx-min-width: 320;
    -fx-pref-width: 320;
    -fx-max-width: 320;
}

/*************************************/
/**** COMPONENTS *********************/
/*************************************/

.mou-label, .mou-title, .mou-sub-title, .mou-text-field, .mou-button {
    -fx-pref-width: -1;
    -fx-max-width: Infinity;
}

.mou-logo {
    -fx-fill: radial-gradient(focus-angle -129deg, focus-distance -7%, center 50% 21%, radius 80%, reflect, #a4b9ff, #a4b9ff 0.77%, #7289da 100%);
    -fx-effect: dropshadow(gaussian, #000, 4.5, 0, 0, 0);
}

.mou-label {
    -fx-text-fill: #8e9297;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.mou-title {
    -fx-text-fill: #fff;
    -fx-font-size: 26;
    -fx-font-weight: normal;
}

.mou-sub-title {
    -fx-text-fill: #b9bbbe;
    -fx-font-size: 18;
    -fx-font-weight: normal;
}

.mou-text-field {
    -fx-padding: 10;
    -fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 3;
    -fx-border-color: rgba(0, 0, 0, 0.3);
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-text-fill: #dcddde;
}

.mou-text-field:hover {
    -fx-border-color: #040405;
}

.mou-text-field:focused {
    -fx-border-color: #7289da;
}

.mou-button {
    -fx-background-color: #7289da;
    -fx-background-radius: 3;

    -fx-alignment: center;
    -fx-text-fill: #fff;

    -fx-font-size: 16;
    -fx-font-weight: bold;

    -fx-padding: 2 16;
    -fx-pref-height: 40px;
    -fx-min-width: 130px;
    -fx-min-height: 40px;

    -fx-cursor: hand;
}

.mou-button:hover {
    -fx-background-color: #677bc4;
}

.mou-button:pressed {
    -fx-background-color: #5b6eae;
}

.mou-button:disabled {
    -fx-cursor: default;
}